.homeIcon {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    cursor: pointer;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.linksContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: aliceblue;
    padding: 20px;
    height: 90vh;
    width: 60vw;
    border-radius: 5px;
}

.actionBtn {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    padding: 30px;
    width: 50vw;
    font-size: 30px;
}

button:hover {
    background-color: lightgray;
}